.app-header {
  display: flex;
  align-items: center;
  background-color: #001529;
  color: white;
  padding: 16px;
}

.app-title {
  margin: 0;
  padding: 0;
  color: white !important;
  margin: 0;
  font-weight: bold;
  align-items: center;
  font-size: 24px;
  line-height: 1.2;
}

.app-subtitle {
  color: #f0f0f0;
  font-size: 16px;
  margin-left: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.app-content {
  padding: 24px;
}